@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0 auto;
    max-width: 1280px;
    font-family: "Azeret Mono";
}
main{
    max-width: 1140px;
}


/* Navbar */
.navbar{
    margin-top: 50px;
}
.navbar nav> ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    font-weight: 700;
}
.nav-btn{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}


/* Hero Banner Section */

.hero{
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 450px;
}
.hero-img img{
    height: 130px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.hero-container{
    margin-top: 20px;
    text-align: center;
    width: 800px;
}
.hero-title{
    font-size:34px;
    font-weight: 700;
}
.hero-description{
    padding: 20px;
}
.hero-btn{
    text-align: center;
}
.hero-btn button{
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.hero-btn button:hover{
    background: #444444;
}


/* Why dev section */

.why-dev{
    background-color: #fafafa;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}
.container{
    padding-bottom: 50px;
    text-align: center;
}
.dev-container h2{
    margin: 12px;
    font-size: 30px;
    font-weight: 800;
}
.coding{
    display: flex;
    margin-top: 30px;
}
.coding-container{
    width: 70%;
    background: linear-gradient(to right, white, transparent);
    padding:20px;
    border-radius: 10px;
}
.coding-title{
    margin-bottom: 10px;
    font-size: 25px;
}
.learn{
    margin-top: 10px;
    padding: 10px;
}
.coding-contain{
    width: 70%;
    background: linear-gradient(to left, white, transparent);
    padding:20px;
    border-radius: 10px;
}

/* Inspire section  */

.inspire{
    margin-top: 50px;
}
.inspire-container{
    text-align: center;
    width: 70%;
}
.insp-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
}
.inspired{
    margin-top: 30px;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.link{
   
   border-radius: 10px;
   border-radius: 10px;
}

/* Current Target Section */

.target-container{
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.target-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.target-card{
    padding: 20px;
    border-radius: 10px;
}
.first{
    background: #fff6f4;
}
.target-card h3{
    margin:10px 0;
}
.target-card p {
    margin-bottom: 10px;
}
.target-card a{
    color: black;
}
.second{
    background: #f3f6fd;
}
.third{
    background: #fffdf3;
}
.target-card-container{
    display: flex; 
    gap: 20px;
}

/* Next Target Section */

.next-target{
    display: flex; 
    align-items: center;
    border:1px solid gray;
    border-radius: 10px;
}
.next-target img{
    height: 100%;
    padding: 10px;
}
.next-target-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Support Section */

.support{
    margin-top: 50px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    height: 350px;
}

.banner-img{
    position: absolute;
}
.banner-img img{
    height: 350px;
    width: 1140px;
    border-radius: 10px;
}
.support-banner{
    position: relative;
    /* bottom: 300px; */
    top: 50px;
    text-align: center;
    color: white;
    width: 70%;

}
.support-title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.input-text{
    margin-top: 20px;
    width: 45%;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
.submit-btn{
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight:700;
    width: 20%;
}
.submit-btn:hover{
    background: #4444;
    color: wheat;
}
footer{
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.commitment{
    width: 60%;
}
.social-media{
    margin-left: 180px;
    width: 15%;
    display: flex;
    justify-content: space-between;
}