@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0 auto;
    max-width: 1280px;
    font-family: "Azeret Mono";
}

/* Navbar */
.navbar{
    margin-top: 50px;
}
.navbar nav> ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    font-weight: 700;
}
.nav-btn{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}


/* Hero Banner Section */

.hero{
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 450px;
}
.hero-img img{
    height: 130px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.hero-container{
    margin-top: 20px;
    text-align: center;
    width: 800px;
}
.hero-title{
    font-size:34px;
    font-weight: 700;
}
.hero-description{
    padding: 20px;
}
.hero-btn{
    text-align: center;
}
.hero-btn button{
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.hero-btn button:hover{
    background: #444444;
}


/* Why dev section */

.why-dev{
    background-color: #fafafa;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}
.container{
    padding-bottom: 50px;
    text-align: center;
}
.dev-container h2{
    margin: 12px;
    font-size: 30px;
    font-weight: 800;
}
.coding{
    display: flex;
    margin-top: 30px;
}
.coding-container{
    width: 70%;
    background: linear-gradient(to right, white, transparent);
    padding:20px;
    border-radius: 10px;
}
.coding-title{
    margin-bottom: 10px;
    font-size: 25px;
}
.learn{
    margin-top: 10px;
    padding: 10px;
}
.coding-contain{
    width: 70%;
    background: linear-gradient(to left, white, transparent);
    padding:20px;
    border-radius: 10px;
}

/* Inspire section  */

.inspire{
    margin-top: 50px;
}
.inspire-container{
    text-align: center;
    width: 70%;
}
.insp-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 800;
}
.inspired{
    margin-top: 30px;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.link{
   
   border-radius: 10px;
   border-radius: 10px;
}